.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  border-top: 1px solid #95a5a6;
  border-left: 1px solid #95a5a6;
  border-right: 1px solid #95a5a6;
  border-bottom: 1px solid #95a5a6;
}

.large-top-bar-list-items {
  display: flex;
  flex-direction: row;
}

.small-top-bar-list-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
  left: 1%;
  width: 100%;
}

.scrollBar {
  max-height: 800px;
  overflow: auto;
}

ul {
  list-style: none;
  width: 100%;
  font-size: 0;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  width: 16.66666%;
  height: 2px;
}

li:nth-child(1) {
  background: #ffec00;
}

li:nth-child(2) {
  background: #ff7322;
}

li:nth-child(3) {
  background: #d42427;
}

li:nth-child(4) {
  background: teal;
}

li:nth-child(5) {
  background: #a82682;
}
li:nth-child(6) {
  background: #0060aa;
}

li:nth-child(6) {
  background: rgb(10, 49, 80);
}

@keyframes rollout {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    transition-duration: 1s ease;
    opacity: 0;
  }
  50% {
    transition-duration: 1s ease;
    opacity: 0.5;
  }
  100% {
    transition-duration: 2s ease;
    opacity: 1;
  }
}

.roll-out {
  animation: 1.5s rollout;
}

.slide {
  animation: 3s slide;
}

.dropDown {
  position: absolute;
  background-color: #e41010;
  width: 150px;
  display: flex;
}















